


<a href="{{ path('app_shop_product') }}" class="nav-item nav-link">Toutes les catégories</a> 
{% for category in categories %}    
    <a href="{{ path('app_shop_product', { 'idCat': category.id } ) }}" class="nav-item nav-link">{{ category.nom }}</a> 
{% endfor %}